/******COMMUN A TOUTE LES PAGES*****/
/*Reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/*Header*/

body {
    background-color: antiquewhite;
}

header {
    position:fixed;
    background-color: darksalmon;
    width: 100%;
    height: 50px;
}

h1 {
    color: brown;
    float: left;
    font-family:fantasy ;
    font-size: 45px;
    margin-left: 10px;
}

nav {
    width: 30%;
    height: 20px;
    margin-top: 5px;
    display: inline-block;
    float: right;
}

nav > ul {
	width:350px;
	height:40px;
	border-radius:5px;
	background-color:darkgoldenrod;
	margin:0;
	padding:0;
}

nav>ul ul{
	display:none;
}


nav > ul > li{
	display:inline-block;
	margin-left:10px;
	padding-left:20px;
	vertical-align:top;
}

nav >ul li a{
	display:block;
	color:white;
	font-weight:bold;
	font-size:15px;
	white-space: nowrap;
	text-decoration:none;
	text-align:center;
	height:30px;
	line-height:30px;
	transition: color 0.5s;
}

nav>ul li a:hover {
	color:brown;
}

nav >ul li:hover ul {
	position:relative;
	top:10px;
	display:block;
	background-color:darkgoldenrod;
	list-style:none;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px; 
	margin:0;
	padding:0;
	z-index:7;
}

/*footer*/
footer {
    display: inline-block;
    background-color:darksalmon;
    text-align: center;
    width: 100%;
    height: auto;
}

h5 {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

h4 {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-family: sans-serif;
}
/******COMMUN MAIN CATEGORIE*******/

h2{
    font-size: 20px;
    color: firebrick;
    text-decoration: underline;
    text-align: center;
}

section {
    margin-left: 10%;
}

article {
    width: 25% ;
    margin : 2% ;
    text-align: center;
    float :left ;
    height : auto ;
    border:3px double darkorange;
    background-color:beige;
}

main article p a {
    display: block;
    background-color: #FFE9B4;
    border-radius: 2px;
    border: medium none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 25px;
    color: #000;
    width:150px;
    margin: 15px auto;
    text-decoration: none;
}

/*************Tel*************/
@media screen and (max-width: 1000px) {
    /*HEADER*/
    h1 {
        display: none;
    }
    
    nav {
        width: auto;
        height: auto;
        float: left;
    }
    
    nav > ul {
        background-color: darksalmon;
    }
    
    nav >ul li:hover ul {
        background-color: darksalmon;
    }
    
    /*MAIN CATEGORIE*/
    article {
        width: 300px;
        height: auto;
    }
    
    
    /*FOOTER*/
    
    footer img {
        width: 10%;
    }
}